@model IEnumerable<SanPham>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Tên Sản Phẩm</th>
				<th>Mô Tả</th>
				<th>Giá</th>
				<th>Hình Ảnh</th>
				<th>Thể Loại</th>
				<td>

				</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.price</td>
					<td><img width="50%" src="@item.imageUrl" /></td>
					<td>@item.TheLoai.Name</td>
					<td>
						<a asp-action="Upsert" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Datails" href="#">Details</a> |
						<a asp-action="Delete" href="#">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-controller="SanPham" asp-action="Upsert" class="btn btn-primary">Thêm mới</a>
</div>