@model IEnumerable<SanPham>
<div class="container">
   @*  <table class="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Hình ảnh</th>
                <th>Thể loại</th>
                <th>
                    Chức năng
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)

            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td><img src="@item.ImageUrl" width="50%" /></td>
                    <td>@item.TheLoai.Name</td>
                    
                </tr>
            }
        </tbody>
    </table> *@

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-title">@item.Price</h6>
                        <p class="card-text">@item. Description</p>
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="btn btn-primary">Them vao yeu thich &#10084;</a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-danger">Mua Hang</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>